extends layout

block sidebar

	include sidebar

block content

	article
		h2
			a(href=article.path) #{article.title}

		include article-meta

		div.content

			!{article.content}

		div.comments

			div#disqus_thread

			script(type="text/javascript")
				var disqus_shortname = 'selfcontained';
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();

			noscript
				|	Please enable JavaScript to view the
				a(href="http://disqus.com/?ref_noscript") comments powered by Disqus.

			a.dsq-brlink(href="http://disqus.com") blog comments powered by
				span.logo-disqus Disqus
