!!! 5
html(lang="en")
	head
		title #{title}
		meta(name="keywords", content=keywords)
		meta(name="author", content="Brad Harris")
		meta(name="robots", content="index,follow")
		meta(name="viewport", content="width=device-width,initial-scale=1")

		link(href="/css/blog.css", rel="stylesheet")
		link(rel="alternate", type="application/rss+xml", title="selfcontained » rss", href="http://www.selfcontained.us/feed/rss.xml")

	body

		div#main

			header
				h1
					a(href="/") selfcontained
					small  [web development]

			div#content-container

				section#content

					block content

				aside.sidebar

					block sidebar

			footer
				&copy; 2012 Brad Harris

		script(type="text/javascript").
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-254292-12']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
